html {
	height: 100%;
	overflow: auto;
}

body {
	position: relative;
	min-height: 100%;
	text-align: left;

	margin: 0;

	color: #555;
	background: #f9f9f9;
	overflow: auto;

	text-align: center;
	font-family: Arial, sans-serif;
}

@link-color: #3c80cc;
@link-color-hover: #2c70bc;

a {
	color: @link-color;

	&:hover {
		color: @link-color-hover;
	}
}

h1, h2 {
	margin: 0;
	padding: 0;

	line-height: 0.9em;
}

h1 {
	margin-bottom: 10px;

	font-size: 2em;
}

h2 {
	font-size: 1.7em;
}

.header {
	// padding-top: 200px;
	// background: transparent url('/favicon.svg') top center no-repeat;
	// background-size: 200px 200px;
	color: #333;
}

.subheader {
	margin-top: 0;
	padding-top: 0;
	font-size: 1em;
	color: #777;
}

.content {
	display: block;
	//max-width: 1024px;
	//min-width: 600px;
}

.content-footer {
	padding-top: 0px;
	padding-bottom: 0px;
}

.block {
	display: block;
	margin: 30px auto 0;
	color: #444;
	text-align: center;
	margin: 30px;
	padding: 50px;
	border: 0px solid #666;
	border-left-color: #ccc;
	border-top-color: #ccc;
	box-shadow: 2px 2px 5px 0 #ddd;
	background: #fff;
}

.block-header {
	display: inline-block;
	text-align: center;
}

.block-error {
	text-align: center;
}

.footer {
	position: relative;

	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;

	display: inline-block;
	min-width: 0;
	//min-height: 30px;
	line-height: 30px;

	text-align: center;

	a {
		margin-right: 10px;
		white-space: nowrap;
		text-decoration: none;
		border-bottom: 1px @link-color dashed;
	}

	a:hover {
		border-bottom-color: @link-color-hover;
		border-bottom-style: solid;
	}
}

.project {
	display: inline-block;
	margin-top: 0;
	padding: 10px;
}

.project-link {
	display: block;

	//min-height: 70px;

	padding: 20px;
	//padding-bottom: 40px;

	text-decoration: none;
	color: inherit;

	border: 1px @link-color dashed;
	outline: none;
}

.project-link:hover,
.project-link:active {
	color: inherit;
	border-color: @link-color-hover;
	border-style: solid;
}

.project-name {
	display: block;

	color: @link-color;
	font-size: 120%;
}

.project-description {
	display: block;
	padding-top: 20px;
}

.project-link:hover > .project-name {
	color: @link-color-hover;
}

.projects-container {
    display: block;
    margin: 0 auto;
    max-width: 900px;
}
